$font-stack: 'Poiret One', Arial;
$navbar-li-font-size: 20px;
$link: gray;
$primary-color: #b71c1c;
$footer-color: #a3a3a3;
$footer-backgroundColor: #444;
$main-backgroundColor: #e5e5e5;
$overlay-color: rgba(0, 0, 0, 0.6);
