@import "var";


.introContainer {
  width: 100%;
  height: 80vh;
  background: url("http://annstreetstudio.com/wp-content/uploads/2015/01/fireplace980.gif");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.introDisplay {
  height: 100%;
  width: 100%;
  background: $overlay-color;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.introDisplay h1 {
  font-family: $font-stack;
  letter-spacing: 3px;
}

.introDisplay p {
  font-size: 20px;
  margin: 5px;
}


// Middle Section

.middleContainer {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background: $main-backgroundColor;
  height: auto;
}

.middleDisplayOne {
 width: 80%;
 margin: 0 auto;
 text-align: center;
 font-family: $font-stack;
 letter-spacing: 3px;
}

.galleryContainer {
  width: 100%;
  clear: both;
}

.galleryList {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  clear: both;
}

.galleryCol {
  width: 22%;
  display: inline-block;
  position: relative;
  min-width: 300px;
  overflow: hidden;
  margin: 5px auto;
  background: #fff;
}

.galleryCol img {
  width: 100%;
  height: 300px;
  min-width: 280px;
  transition: all 1s ease-in-out;
}

.galleryCol img:hover {
  transform: scale(1.25);
}

// overlay display card

.infoCard {
  width: 100%;
  background: #fff;
  height: 80%;
  bottom: 0;
}


// Third Section

.thirdContainer {
  width: 100%;
  height: 500px;
  background: url("http://static1.squarespace.com/static/53ff083fe4b06d598893dcdf/53ff0e11e4b075777f4f4f0d/547f5483e4b0a7c95f779139/1450008344588/Mirror+Houses+back+day.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.thirdDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.thirdDisplay h1 {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 8px;
  margin: 10px auto;
  color: #fff;
}

.thirdDisplay span {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
}

.thirdDisplay p {
  margin: 5px auto;
  font-size: 25px;
  color: #fff;
  text-align: center;
}

// After RENT | Buy picture

.aboutContainer {
  font-family: $font-stack;
  width: 100%;
  padding: 30px 0;
  background: $main-backgroundColor;
}

.aboutDisplay {
  width: 90%;
  margin: 50px auto;
  text-align: center;
  line-height: 30px;

  p {
    font-family: serif;
    margin-top: 20px;
  }

}


button {
  background: $main-backgroundColor;
  border: 3px black solid;
  padding: 5px 8px;

  a {
    font-size: 1.1em;
    color: #000;
    font-weight: bold;
  }

}

@media (min-width: 769px) {

  .galleryList {
    width: 90%;
    margin: 0 auto;
  }

  .galleryCol {
    margin: 5px;
  }

  .introDisplay h1 {
    font-family: $font-stack;
    letter-spacing: 5px;
  }

  .middleDisplayOne {
    margin-bottom: 30px;
  }

  .thirdDisplay {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // After RENT | Buy picture

  .aboutContainer {
    font-family: $font-stack;
    width: 100%;
    padding: 30px 0;
    background: $main-backgroundColor;
  }

  .aboutDisplay {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    line-height: 30px;

    p {
      font-family: serif;
      margin-top: 20px;
    }

  }


  button {
    background: $main-backgroundColor;
    border: 3px black solid;
    padding: 5px 8px;

    a {
      font-size: 1.1em;
      color: #000;
      font-weight: bold;
    }

  }




}
