$font-stack: 'Poiret One', Arial;
$primary-color: #b71c1c;
$overlay-color: rgba(0, 0, 0, 0.6);


.introContainer {
  width: 100%;
  height: 80vh;
  background: url("http://annstreetstudio.com/wp-content/uploads/2015/01/fireplace980.gif");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.introDisplay {
  height: 100%;
  width: 100%;
  background: $overlay-color;
  color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.introDisplay h1 {
  font-family: $font-stack;
  letter-spacing: 3px;
}

.introDisplay p {
  font-size: 20px;
  margin: 5px;
}


// Middle Section

.middleContainer {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  height: auto;
}

.middleDisplayOne {
 width: 80%;
 margin: 0 auto;
 text-align: center;
 font-family: $font-stack;
 letter-spacing: 3px;
}

.galleryContainer {
  width: 100%;
  clear: both;
}

.galleryList {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  clear: both;
}

.galleryCol {
  width: 22%;
  display: inline-block;
  padding: 1em;
  position: relative;
  min-width: 300px;
  overflow: hidden;
  background: #fff;
}

.galleryCol img {
  width: 100%;
  height: 300px;
  min-width: 280px;
}

// overlay display card

.infoCard {
  width: 100%;
  background: #fff;
  height: 80%;
  bottom: 0;
}


// Third Section

.thirdContainer {
  width: 100%;
  height: 500px;
  background: url("https://phenomenale.files.wordpress.com/2015/10/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.thirdDisplay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
}

.thirdDisplay h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 8px;
  color: black;
}

.thirdDisplay span {
  color: $primary-color;
  font-weight: bold;
  font-size: 50px;
}

.thirdDisplay p {
  margin: 5px auto;
  font-size: 25px;
  color: black;
  text-align: center;
}

@media (min-width: 769px) {

  .galleryList {
    width: 90%;
    margin: 0 auto;
  }

  .introDisplay h1 {
    font-family: $font-stack;
    letter-spacing: 5px;
  }

  .middleDisplayOne {
    margin-bottom: 30px;
  }

  .thirdDisplay {
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


}
