<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foundation Homes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700|Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div class="navbarContainer">
      <div class="navbarBrand">
        <h2><span>Foundation</span> Homes</h2>
      </div>
      <button class="navbarButton" type="button" name="button"><i class="fa fa-bars"></i></button>
        <ul class="navbarList">
          <li><a href="/main">Main</a></li>
          <li><a href="/homes">Homes</a></li>
          <li><a href="/realtors">Realtors</a></li>
          <% if(!user) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
          <%  } else { %>
            <li><a href="/users">User</a></li>
            <li><a href="/users">logout</a></li>
            <% } %>
        </ul>
    </div>

    <span class="scrollToTop"><i class="fa fa-arrow-up"></i></span>
