<% include partials/header %>
<link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">

<div class="introContainer">
  <div class="introDisplay">
    <h1>Foundation Homes</h1>
    <p>
      Dream It. Find It. Own It.
    </p>
  </div>
</div>

<div class="middleContainer">
  <div class="middleDisplayOne">
    <h1>Homes that fit your life.</h1>
  </div>

  <div class="galleryContainer">
    <ul class="galleryList">
      <li class="galleryCol"><a href="#"><img src="http://knoxvillesroofing.com/wp-content/uploads/2015/10/Before-You-List-Your-House-For-Sale-Should-You-Replace-the-Roof.jpg" alt=""/></a></li>
      <li class="galleryCol"><a href="#"><img src="http://1cqgxm3l59yi2wwbnn3qy35h.wpengine.netdna-cdn.com/wp-content/uploads/2013/09/Melyssas-house-for-sale-in-Washington.jpg" alt=""/></a></li>
      <li class="galleryCol"><a href="#"><img src="http://1cqgxm3l59yi2wwbnn3qy35h.wpengine.netdna-cdn.com/wp-content/uploads/2013/09/Debbies-house-for-sale-in-Atlanta.jpg" alt=""/></a></li>
      <li class="galleryCol"><a href="#"><img src="http://agbeat.com/wp-content/uploads/2012/07/house-for-sale.jpg" alt=""/></a></li>
    </ul>
  </div>
</div>

<div class="thirdContainer">
  <div class="thirdDisplay">
    <h1>Rent | Buy</h1>
    <p>
      Find homes for the moment or forever.
    </p>
  </div>
</div>


<% include partials/footer %>
