<% include partials/header %>
<link rel="stylesheet" href="/css/login.css" media="screen" charset="utf-8">

<div class="formContainer">
  <h1>Foundation Homes Sign Up</h1>
  <form class="formGroup" action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input class="submit" type="submit" value="Sign Up">
  </form>
</div>

<% include partials/footer %>
