<% include ../partials/header %>

<link rel="stylesheet" href="/css/realtors.css" type="text/css">

<div class="profileContainer">
  <h1> Top Realtors </h1>
  <hr>
  <div class="profileDisplay">
    <ul>

    <% realtor.forEach(function(profile) { %>
      <li>
        <div class="profileImage col">
          <img src="<%= profile.rImage %>" alt="Profile Picture">
        </div>

        <div class="profileContent col">
          <h1><a href="/realtors/<%= profile._id %>"><%= profile.rName %></a></h1>
          <p>
            <%= profile.rAbout %>
          </p>
        </div>
      </li>
    <% }); %>

    </ul>
  </div>
</div>

<% include ../partials/footer %>
